global:
  scrape_interval: 30s
  evaluation_interval: 30s

scrape_configs:
  - job_name: xray
    metrics_path: /scrape
    scrape_interval: 15s
    static_configs:
{% for server in ru_servers %}
      - targets:
          - "{{ server.address }}:{{ xray_exporter_port }}"
        labels:
          server: "{{ server.tag }}"
          role: ru-relay
          location: "{{ server.location }}"
{% endfor %}
{% for server in foreign_servers %}
      - targets:
          - "{{ server.address }}:{{ xray_exporter_port }}"
        labels:
          server: "{{ server.tag }}"
          role: foreign-exit
          location: "{{ server.location }}"
{% endfor %}
