BOT_TOKEN={{ telegram_bot_token }}
ADMIN_TELEGRAM_ID={{ telegram_bot_admin_id }}
DATABASE_URL=postgresql+asyncpg://{{ telegram_bot_postgres_user }}:{{ telegram_bot_postgres_password }}@db:5432/{{ telegram_bot_postgres_db }}
MAPPING_EXPORTER_DATABASE_URL=postgresql://{{ telegram_bot_postgres_user }}:{{ telegram_bot_postgres_password }}@db:5432/{{ telegram_bot_postgres_db }}
MAPPING_EXPORTER_PORT={{ user_mapping_exporter_port }}
POSTGRES_DB={{ telegram_bot_postgres_db }}
POSTGRES_USER={{ telegram_bot_postgres_user }}
POSTGRES_PASSWORD={{ telegram_bot_postgres_password }}
XRAY_GRPC_ENDPOINTS={% for s in ru_servers %}{{ s.address }}:{{ xray_grpc_port }}{% if not loop.last %},{% endif %}{% endfor %}

HYSTERIA_SYNC_ENDPOINTS={% for s in ru_servers %}{{ s.address }}:{{ hysteria_sync_port }}{% if not loop.last %},{% endif %}{% endfor %}

HYSTERIA_SYNC_TOKEN={{ vault_hysteria_sync_token }}

XRAY_INBOUND_TAG={{ xray_inbound_tag | default('vless-in') }}
SUBSCRIPTION_BASE_URL=https://{{ subscription_api_domain }}:{{ subscription_api_port }}
RU_SERVERS_JSON='{{ ru_servers_json }}'
SUBSCRIPTION_API_TOKEN={{ vault_subscription_api_token }}
